/* Footer.css */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black; /* No background color */
    position: relative;
    z-index: 5;
    flex-wrap: wrap; /* Allows icons to wrap on smaller screens */
  }
  
  .footer a {
    margin: 1rem;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .footer a:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  
  
  /* Responsive styles */
@media (max-width: 768px) {
  .icon {
    size: 3rem; /* Decrease icon size */
  }
}

@media (max-width: 480px) {
  .icon {
    size: 3rem; /* Even smaller icons for mobile */
  }
}